<template>
    <div class="alert-box">
        <div class="hr-container">
            <h1 class="hr-sep">
                <span>
                    <MoonIcon />
                </span>
            </h1>
        </div>

        <b-list-group>
            <b-list-group-item href="https://floweryknots.notion.site/d3a67bed70da4554a5a4853b755230fd">
                <div class="link-text my-3">
                    <div class="link-title">공지</div>
                    <div>Notice</div>
                </div>
            </b-list-group-item>
            <b-list-group-item href="https://floweryknots.notion.site/73d90dd5f49543dfbe1695d4869061a7">
                <div class="link-text my-3">
                    <div class="link-title">꽃타래 무료 콘텐츠</div>
                    <div>Free Stuff</div>
                </div>
            </b-list-group-item>
        </b-list-group>
        <b-list-group-item href="https://floweryknots.notion.site/693901435fd346078671ceb511f4a02f">
            <div class="link-text my-3">
                <div class="link-title">포트폴리오</div>
                <div>Portfolio</div>
            </div>
        </b-list-group-item>
        <b-list-group-item href="https://pin.it/6CKABF3">
            <div class="link-text my-3">
                <div class="link-title">핀터레스트</div>
                <div>Pinterest</div>
            </div>
        </b-list-group-item>
    </div>
</template>

<script>
import { ArrowDownCircleIcon, MoonIcon } from "vue-feather-icons";

export default {
    data() {
        return {};
    },
    created() {
        this.$nuxt.$on("img-loaded", () => {
            console.log("Loaded");
        });
    },
    components: {
        ArrowDownCircleIcon,
        MoonIcon,
    },
    methods: {},
};
</script>

<style scoped lang='scss'>
.alert-box {
    width: 100%;
    margin: 0 auto;
}

.hr-sep {
    margin: 1em auto;

    span {
        vertical-align: middle;
        padding: 12px;

        background-color: $color-neutral;
    }

    svg {
        color: $color-brand-dark;

        width: 1em;
        height: 1em;
    }

    &::after {
        display: block;
        content: "";
        border: 0.5px dashed $color-brand-dark;
        margin-top: -0.5em;
    }
}

.list-box {
    position: relative;
    padding-bottom: 12px;
}

.list-group-item {
    background-color: $color-neutral;
    text-align: center;

    img {
        margin: 8px auto;
    }

    &:hover {
        box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
    }
}

.img-container {
    width: 100%;

    img {
        object-fit: contain;
        width: 100%;

        padding: 6px;
    }
}

.img-group {
    width: 100%;

    img {
        object-fit: contain;
        width: 48.5%;
        height: auto;
    }
}

.link-text {
    font-family: "Mapo";
}

.link-title {
    font-size: 1.5em;
    font-family: "Nuri";
    white-space: nowrap;

    color: $color-brand-dark;
}
</style>