<template>
    <div class="deck" ref="deck">
        <b-card class="mx-0" v-for="item in items" :key="item.src" :img-src="item.src">
            <a :href="item.link" class="stretched-link">
                {{ item.title }}
            </a>
            <div class="card-text">{{ item.type }}</div>
            <div class="card-text">{{ item.date }}</div>
        </b-card>
    </div>
</template>

<script>
import item_list from "assets/items.json";

export default {
    data() {
        return {
            items: item_list,
        };
    },
};
</script>

<style lang='scss'>
.deck {
    width: 100%;
}

.card {
    justify-content: center;
    align-items: center;
    margin: 1em 0em 1em 1em;

    background-color: $color-neutral !important;
    border-color: $color-brand-dark !important;
    border-width: 1.5px;

    img {
        width: 100%;
    }

    a {
        font-family: "Nuri";
        font-size: 1.5em;

        color: $color-brand-dark !important;
    }

    .card-text {
        font-family: "Nuri";
        font-size: 1em;

        color: $color-accent !important;
    }

    &:hover {
        border-color: $color-primary-light !important;
        box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);

        a {
            text-decoration: none;
            color: $color-brand-dark !important;
        }

        .card-text {
            text-decoration: none;
            color: $color-primary-light !important;
        }
    }
}

.nav-button {
    background-color: $color-neutral !important;
    border-color: $color-brand-dark !important;
    border-width: 1.5px;

    color: $color-brand-dark !important;

    &:hover {
        border-color: $color-primary-light !important;
        box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);

        text-decoration: none;
        color: $color-primary-light !important;
    }
}
</style>