<template>
    <div class="footer-box">
        <h1 class="hr-sep">
            Copyright &copy; 2021

        <b-img
            class="logo-img"
            src="~/assets/logo/logo_dark.png"
        />

        꽃타래
        </h1>
    </div>
</template>

<script>
export default {

}
</script>

<style scoped lang='scss'>
.footer-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hr-sep {
    margin-top: 1rem;

    font-size: 0.5em;
}

.logo-img {
    width: 2em;
    margin: 1em auto;
}
</style>