<template>
    <div class="btn-list">

        <b-button variant="light" href="https://smartstore.naver.com/floweryknots" id="btn-shop">
            <span class="btn-icon">
                <ShoppingCartIcon id="svg-shop" />
            </span>
            <span class="btn-label"> 꽃타래 상점 </span>
            <span class="btn-pad"></span>
        </b-button>

        <b-button variant="light" href="https://www.etsy.com/shop/FloweryKnots" id="btn-shop">
            <span class="btn-icon">
                <ShoppingCartIcon id="svg-shop" />
            </span>
            <span class="btn-label"> Etsy Shop </span>
            <span class="btn-pad"></span>
        </b-button>

        <div class="sns-list">
            <b-button block variant="light" href="https://twitter.com/kotale_" id="btn-twitter">
                <span class="btn-icon">
                    <TwitterIcon />
                </span>
                <span class="btn-label"> 트위터 </span>
                <span class="btn-pad"></span>
            </b-button>

            <b-button block variant="light" href="https://www.instagram.com/floweryknots_official/" id="btn-instagram">
                <span class="btn-icon">
                    <InstagramIcon />
                </span>
                <span class="btn-label"> 인스타그램 </span>
                <span class="btn-pad"></span>
            </b-button>

        </div>
    </div>
</template>

<script>
import {
    ShoppingCartIcon,
    TwitterIcon,
    InstagramIcon,
} from "vue-feather-icons";

export default {
    components: {
        ShoppingCartIcon,
        TwitterIcon,
        InstagramIcon,
    },
    data() {
        return {
            mod_show: false,
        };
    },
    methods: {
        clear_msg() {
            this.$refs.popover.$emit("close");
            this.$root.$emit("bv::show::modal", "link-mod", "#btnShow");
        },
    },
};
</script>

<style scoped lang='scss'>
svg {
    width: 1.25em;
    height: 1.25em;

    color: $color-brand-dark;
}

.btn-list {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
}

.sns-list {
    display: flex;
}

.btn {
    display: flex;
    align-items: center;
    margin: 3px 3px;

    background-color: $color-neutral !important;
    border-color: $color-brand-dark !important;
    border-width: 1.5px;
    color: $color-brand-dark !important;

    font-size: 1.25em;

    &:hover {
        border-color: $color-primary-light !important;
        border-color: $color-neutral;
        color: $color-primary-light !important;

        box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
    }

    &:hover .btn-icon svg {
        border-color: $color-primary-light !important;
        color: $color-primary-light !important;
    }
}

.btn-icon,
.btn-label,
.btn-pad {
    flex: 1;
}

#btn-shop{
    margin-top: 6px;
}

.btn-icon {
    text-align: left;
    padding: 6px 6px;
}

.btn-label {
    white-space: nowrap;
    font-family: "Nuri";
}
</style>