<template>
    <div class="logo-box">
        <img
            src="~/assets/logo/logo_dark.png"
            v-show="isLoaded"
        />
    </div>
</template>

<script>
export default {
    data() {
        return {
            isLoaded: false,
        };
    },
    mounted() {
        this.onPageLoad();
    },
    methods: {
        onPageLoad() {
            // $nuxt.$emit('img-loaded');
            this.isLoaded = true;
        },
    },
};
</script>

<style scoped lang='scss'>
.logo-box {
    margin-top: 4em;

    img {
        width: 60%;
        max-width: 320px;
    }
}
</style>