<template>
    <div>
        <b-list-group id="link-list">
            <b-list-group-item
                id="list-item"
                class="flex-column"
                href="https://blog.naver.com/kotale_/222057714636"
            >
                <div
                    class="d-flex w-100 justify-content-between align-items-center"
                >
                    <div id="link-title">꽃타래 공지 페이지</div>
                </div>
                <p id="link-text" class="mb-1">
                    공지는 이 페이지를 참조해주세요
                </p>
            </b-list-group-item>

            <b-list-group-item
                id="list-item"
                class="flex-column"
                href="https://grafolio.naver.com/story/69995"
            >
                <div
                    class="d-flex w-100 justify-content-between align-items-center"
                >
                    <div id="link-title">
                        &lt;꽃과 달이 빛나는 순간&gt;
                    </div>
                    <b-badge id="badge">NEW</b-badge>
                </div>
                <p id="link-text" class="mb-1">온라인 갤러리</p>
            </b-list-group-item>

            <b-list-group-item
                id="list-item"
                class="justify-content-between align-items-center"
                href="https://oriental-mysterious-shop.postype.com/"
            >
                <div
                    class="d-flex w-100 justify-content-between align-items-center"
                >
                    <div id="link-title">
                        &#x300A;동양신비상점&#x300B; 시리즈
                    </div>
                    <b-badge id="badge">NEW</b-badge>
                </div>
                <p id="link-text" class="mb-1">도감 연재</p>
            </b-list-group-item>
        </b-list-group>
    </div>
</template>

<script>
export default {};
</script>

<style scoped lang='scss'>
.badge {
    background-color: $color-primary-light;
    font-size: 0.8em;
}

#list-item {
    min-height: 5em;
    &:hover > div #link-title {
        color: $color-primary-light;
    }
    &:hover > #link-text {
        color: $color-primary-light;
    }
}

#link-title {
    font-size: 1.25em;
    color: $color-brand-dark;
}

#link-title-disabled {
    @extend #link-title;
    color: $color-brand-light;
}

#link-text-disabled {
    color: $color-brand-light;
}

#badge-disabled {
    background-color: $color-brand-dark;
}
</style>