<template>
    <div class="title-box">
        <Logo />
        <div id="title">꽃타래</div>
        <Link />
    </div>
</template>

<script>
export default {
    components: {},
};
</script>

<style scoped lang='scss'>
#title {
    font-family: "HSBombaram";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    font-weight: 300;
    font-size: 6em;
    color: $color-brand-dark;
}
</style>