<template>
    <div>
        <div class="page-box">
            <Nuxt />
        </div>
            <Footer />
    </div>
</template>

<script>
export default {
    components: {},

    head: {
        title: "꽃타래",
        meta: [
            {
                hid: "Landing",
                name: "꽃타래",
                content: "Meta",
            },
        ],
    },
};
</script>

<style scoped lang='scss'>
*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0 auto;
}

.page-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    min-height: 100vh;
}
</style>
