<template>
    <div class="page-box">
        <div class="content-box">
            <!-- <Deck /> -->
            <Title />
            <Alert />
        </div>
    </div>
</template>

<script>
export default {
    components: {},
};
</script>

<style scoped lang='scss'>
.page-box {
    width: 100% !important;
}

@media screen and (orientation: portrait) {
    .content-box {
        width: 90vw;
    }
}

@media screen and (orientation: landscape) {
    .content-box {
        width: 40vw;
        min-width: 600px;
    }
}
</style>